<div class="element-bg-img"><img [src]="backgroundImage" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li *ngFor="let info of info$ | async">
        <a href="#" (click)=setSearchText($event)>{{info.type}}</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <ng-container
          *ngFor="let info of info$ | async | infoFilter:searchText; let l = count"
        >
          <div class="activity-row" (click)="_setNewInfo(info)" >
            <div class="activity-desc">
              <h5>{{info.type}}</h5>
              <p>{{info.address}}</p>
              <h6>Tel:{{info.phone}}</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li><img [src]="info.img" alt="" /></li>
                <li><img [src]="info.social_info.img" alt="" /></li>
              </ul>
            </div>
            <div class="clear"> </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
