<div id="login">
  <h1>Welcome Back!</h1>
  <form #loginForm="ngForm">
    <div class="field-wrap">
      <label>
        Email Address<span class="req">*</span>
      </label>
      <input [(ngModel)]="email" name="email" #e="ngModel" type="email" appEmailValidation required autocomplete="off"/>
      <ng-container
          *ngIf="e.invalid && (e.dirty || e.touched)">
          <span style="color:red; display: block" *ngIf="e.errors.required">
            Поле обязательное!
          </span>
          <span style="color:red; display: block" *ngIf="e.errors?.regexp">
            {{e.errors.regexp}}
          </span>
        </ng-container>
    </div>
    <div class="field-wrap">
      <label>
        Password<span class="req">*</span>
      </label>
      <input [(ngModel)]="password" name="password" type="password" required autocomplete="off" />
    </div>
    <p class="forgot"><a href="#">Forgot Password?</a></p>
    <button [disabled]="!loginForm.valid" class="button button-block">Log In</button>
  </form>
</div>